@import "variables";

.news-landing-container {
  p {
    margin-bottom: 0;
  }
  ._header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $za_black_dim;
    height: 70px;
    padding: 0 50px;

    .logo-section {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
        font-weight: 600;
        min-width: fit-content;
        font-size: 23px;
      }

      input {
        width: 200px;
        background: $za_black_dim;
      }
    }

    .subscribe-section {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        background: $za_black_dim;
        padding: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35%;
        cursor: pointer;

        i {
          font-size: 20px;
        }
      }
      button {
        border: none;
        border-radius: 5px;
        width: 115px;
        font-size: 14px;
        height: 40px;
        background-color: $za_gamboge;
        color: $za_white;
      }
    }
  }
  ._news-body {
    padding: 35px 50px;
    ._sources {
      margin-bottom: 50px;
      h4 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      ul {
        padding-left: 0;
        li {
          list-style: none;
          display: flex;
          margin-bottom: 15px;
          cursor: pointer;
          align-content: center;

          &::before {
            content: "";
            display: block;
            height: 20px;
            width: 20px;
            background-color: #f3e7d0;
            margin-right: 10px;
            border-radius: 2px;
            margin-top: 2px;
          }
        }
      }
    }
    ._categories {
      h4 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 10px;
          padding: 5px 15px;
          width: 75%;
          cursor: pointer;

          &.active {
            background-color: $za_black_dim;
            border-radius: 10px;
          }
        }
      }
    }

    .filter-headers {
      border-bottom: 1px solid $za_black_dim;

      a {
        color: $za_black;
      }
    }

    .news-content {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .details {
        p {
          color: $za_black_eim;
          font-weight: 600;
          font-size: 15px;
          margin-bottom: 5px;
        }

        h5 {
          font-size: 16px;
          font-weight: 600;
        }

        h6 {
          font-size: 16px;
          line-height: 23px;
        }

        button {
          height: 45px;
          width: 125px;
          font-size: 14px;
          border-radius: 9px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          margin-top: 14px;
          border: none;
        }
      }

      img {
        width: 400px;
      }
    }
  }
  .landing-header {
    .section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      height: 60px;
      padding: 0px 30px;
      align-items: center;

      :nth-child(2) {
        text-align: center;
      }

      :nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: right;
      }

      &._one {
        background-color: $za_black;
        p {
          color: $za_white;
          margin-bottom: 0;
        }

        button {
          border: none;
          border-radius: 5px;
          width: 115px;
          font-size: 14px;
          height: 40px;
          background-color: $za_gamboge;
          color: $za_white;
        }
      }
      &._two {
        border-bottom: 1px solid $za_black_dim;

        ul.categories {
          display: flex;
          list-style: none;
          gap: 10px;
          margin-bottom: 0;
          justify-content: center;
          padding: 0;

          p {
            margin-bottom: 0;
          }

          li a {
            color: $za_black;
            text-decoration: none;
          }
        }

        .search input {
          width: 200px;
        }

        .sources-filter {
          display: flex;
          gap: 10px;

          p {
            margin-bottom: 0;
            color: $za_black_eim;
            border-radius: 25px;
            padding: 4px 11px;
            font-size: 14px;
            cursor: pointer;

            &.active {
              background: $za_gamboge;
              color: $za_white;
            }
          }
        }
      }
    }
  }
  .news-body {
    padding: 30px;
    padding-top: 60px;

    a {
      color: initial;
      text-decoration: none;
    }

    .top-news {
      cursor: pointer;

      .author-col {
        margin-bottom: 10px;
        h5 {
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 0;
          line-height: 25px;
        }

        h6 {
          font-size: 13px;
          color: $za_black_eim;
        }
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
      }

      img.blog-pic {
        border-radius: 10px;
      }
    }

    .news-container {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      width: inherit;
      align-items: center;

      h4 {
        width: 350px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        border-radius: 10px;
      }
    }
  }
}
